<h1>Bienvenido, <%= @usuario.nombre %></h1>
<h2>Panel Principal (Dashboard)</h2>

<p>Tu rol es: <%= @usuario.rol.nombre %></p>

<nav>
  <ul>
    <% if @usuario.rol.nombre == "administrador" %>
      <li><%= link_to "Ingresos", dashboard_ingresos_path %></li>
      <li><%= link_to "Consultas", dashboard_consultas_path %></li>
      <li><%= link_to "Control Usuarios", dashboard_control_usuarios_path %></li>

    <% elsif @usuario.rol.nombre == "suplente" %>
      <li><%= link_to "Ingresos", dashboard_ingresos_path %></li>
      <li><%= link_to "Consultas", dashboard_consultas_path %></li>

    <% elsif @usuario.rol.nombre == "consultor" %>
      <li><%= link_to "Consultas", dashboard_consultas_path %></li>
    <% end %>
  </ul>
</nav>

<%= button_to "Cerrar sesión", logout_path, method: :delete %>
